@tailwind base;

@font-face {
  font-family: 'Dancing Script';
  font-style: cursive;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: cursive;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
    format('woff2');
}

a {
  color: #00458b;
}

a:hover {
  text-decoration: underline;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
